<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/light/light01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Texture/light/light02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light05.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,87},{97,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>Texture/light/light06.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,200},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light07.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light08.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,100},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Texture/light/light10.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,300},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,400},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,378},{100,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,64}</string>
			</dict>
			<key>Texture/light/light13.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,200},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light14.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light15.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,100},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light16.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,300},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light17.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,400},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light18.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,200},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light19.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light20.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{100,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,87}</string>
			</dict>
			<key>Texture/light/light21.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,100},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light22.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,176},{100,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,86}</string>
			</dict>
			<key>Texture/light/light23.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,289},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light24.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,389},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light25.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,289},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
			<key>Texture/light/light26.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,378},{100,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>light_seet.png</string>
			<key>realTextureFileName</key>
			<string>light_seet.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>