<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Texture/character_silver/character08/character08_silver_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,0},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,40},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,80},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,40},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>Texture/character_silver/character08/character08_silver_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,80},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>character08.png</string>
			<key>realTextureFileName</key>
			<string>character08.png</string>
			<key>size</key>
			<string>{128,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>